# 第2周 作业

### 要求

- 用 ipython notebook 文件格式完成并提交
- 文件名取为 ddddddd_wk.ipynb
    - ddddddd 为 7 位学号
    - wk 为讲课周次（2 位数）
    - 例如学号为1234567，第2周作业，提交文件名取为： <font color="red">1234567_02.ipynb</font>

### 练习 1

- 创建 Series 序列对象，创建要求是

    - 名称和名称属性均取为 "normal_16"
    - 值为 16 个服从均值为 5，标准差为 1 的正态分布数
    - 索引为从 1 到 16 的整数序列


- 任务
    - 1. 使用下标切片，显示下标为奇数的所有元素，修改元素值为原值的 2 倍，并显示修改后的元素值
    - 2. 采用布尔掩码，将下标为 2、4、12 的元素修改为原值的 4 倍，并显示修改后的元素值

In [1]:
import pandas as pd
import numpy as np

In [10]:
a = np.linspace(0,16,16)
a

array([ 0.        ,  1.06666667,  2.13333333,  3.2       ,  4.26666667,
        5.33333333,  6.4       ,  7.46666667,  8.53333333,  9.6       ,
       10.66666667, 11.73333333, 12.8       , 13.86666667, 14.93333333,
       16.        ])

In [6]:
b=range(1,2)
b

range(1, 2)

In [11]:
# 练习 1 代码

a = np.linspace(1,16,16,dtype = int)
normal_16 = pd.Series(data=np.random.normal(5,1,16),index=list(a),name='normal_16')
#使用下标切片，显示下标为奇数的所有元素
n1=normal_16[0::2]
print(n1)
print('*'*64)
#修改元素值为原值的 2 倍，并显示修改后的元素值
n2=2*normal_16
print(n2)
print('*'*64)
#采用布尔掩码，将下标为 2、4、12 的元素修改为原值的 4 倍，并显示修改后的元素值
mask = [False, True, False, True,False,False,False,False,False,False,False,True,False,False,False,False] 
n3=4*normal_16[mask]
print(n3)

1     4.104687
3     5.455083
5     3.625688
7     5.802096
9     6.835125
11    6.875797
13    3.967629
15    4.542656
Name: normal_16, dtype: float64
****************************************************************
1      8.209374
2     12.102418
3     10.910166
4      7.761173
5      7.251376
6      7.680017
7     11.604192
8     10.063402
9     13.670250
10    13.991188
11    13.751593
12    10.121604
13     7.935259
14    12.610242
15     9.085312
16    13.037774
Name: normal_16, dtype: float64
****************************************************************
2     24.204836
4     15.522346
12    20.243209
Name: normal_16, dtype: float64

### 练习 2

- 创建三国游戏中 英雄角色 生命值 序列 对象

    - 名称和名称属性均取为 "three_kingdom_heroes"
    - 游戏人物取三国武将 [关羽、典韦、马超、许诸、张飞、张辽、黄忠、程普、赵云、黄盖、徐晃、韩当] 作为索引
    - 生命值取为 50 到 100 之间的随机整数
    

- 任务
    - 1. 假设每一回合，各武将的 生命值 损失一个介于 10 到 30 之间的随机值
    - 2. 三回合循环
        - 三回合后，输出刘备部下五虎将的剩余生命值
        - 假设若干回合后，出现某武将生命值小于或等于零，输出此时曹操部下生命值最大的武将，并跳出循环终止

In [18]:
# 练习 2 代码
idx=['关羽','典韦','马超','许诸','张飞','张辽','黄忠','程普','赵云','黄盖','徐晃','韩当']
three_kingdom_heroes = pd.Series(data=np.random.randint(50,100,12,dtype=int),index=idx,name='three_kingdom_heroes ')
print(three_kingdom_heroes)
sig=0
for x in range(3):
    three_kingdom_heroes-=np.random.randint(10,12)
    for i in range(12):
        if three_kingdom_heroes.iloc[i]<0:
            sig+=1
    tkh=three_kingdom_heroes[['典韦','许诸','徐晃']]
    if sig!=0:
        print('*'*64)
        print('武将殒命，游戏结束！')
        print('曹操部下生命值最大的武将为：')
        print(tkh[tkh.values==tkh.max()])
        break
if sig==0:
    print('*'*64)
    print('本轮（三回合）结束！五虎将的剩余生命值:')
    print(three_kingdom_heroes[['关羽','马超','张飞','黄忠','赵云']])

关羽    91
典韦    70
马超    61
许诸    94
张飞    88
张辽    82
黄忠    66
程普    67
赵云    82
黄盖    75
徐晃    68
韩当    61
Name: three_kingdom_heroes , dtype: int32
****************************************************************
本轮（三回合）结束！五虎将的剩余生命值:
关羽    60
马超    30
张飞    57
黄忠    35
赵云    51
Name: three_kingdom_heroes , dtype: int32

### 练习 3

- 假设：已建好三国西蜀五虎大将数据帧如下
- 任务
    - 1 修改每人的智慧加 5
    - 2 增加一列“射术”，数组依次取为[80, 75, 90, 99, 85]
    - 3 删除“武力”列
    - 4 显示最后的数据帧

In [106]:
import numpy as np
import pandas as pd

five_tigers = ["关羽","张飞","马超","黄忠","赵云"]
features    = ["忠诚","智慧","武力","生命"]

# five_tigers_df = pd.DataFrame(np.random.randint(90,100,(8,5)), index=names, columns=features)

five_tigers_df = pd.DataFrame({"忠诚":[97,96,60,90,95],
                               "智慧":[85,75,80,92,90],
                               "武力":[95,94,96,90,93],
                               "生命":[90,92,93,80,99]},
                               index=five_tigers)
five_tigers_df

    忠诚  智慧  武力  生命
关羽  97  85  95  90
张飞  96  75  94  92
马超  60  80  96  93
黄忠  90  92  90  80
赵云  95  90  93  99

In [108]:
# 练习 3 代码
#1修改每人的智慧加 5
df = five_tigers_df.copy()
df[['智慧']] += 5
#2增加一列“射术”，数组依次取为[80, 75, 90, 99, 85]
df['射术'] = [80, 75, 90, 99, 85]
#3 删除“武力”列
del df['武力']
#4 显示最后的数据帧
df

    忠诚  智慧  生命  射术
关羽  97  90  90  80
张飞  96  80  92  75
马超  60  85  93  90
黄忠  90  97  80  99
赵云  95  95  99  85

### 练习 4


- 随机生成一个100行2列的服从标准正态分布数组，分别取列名称为 "X"、"Y"，创建一数据帧

- 任务
    - 1 查看前 5 行和后 6 行数据
    - 2 向右平移 "X" 坐标 3 个单位
    - 3 新增一列到原点距离 "r"
    - 4 查看 "Y" 值在 3 倍标准差以内的全部点
    - 5 显示最后的数据帧

In [19]:
# 练习 4 代码
df = pd.DataFrame(np.random.randn(100, 2), columns=["X","Y"])
#1 查看前 5 行数据
print("前 5 行数据:")
print(df.head(n=5))
#查看后 6 行数据
print('*'*64)
print("后 6 行数据:")
print(df.tail(n=6))
#2 向右平移 "X" 坐标 3 个单位
df["X"]+=3
#3 新增一列到原点距离 "r"
df["r"] = np.power((df["X"]*df["X"]+df["Y"]*df["Y"]),0.5)
#4 查看 "Y" 值在 3 倍标准差以内的全部点
std=df["Y"].std()
STD=3*std
df1=df[df["Y"]<STD]
df2=df1[df1["Y"]>-STD]
L=len(df2.values)
df2.index=list(np.linspace(0,L-1,L,dtype = int))
#5 显示最后的数据帧
print('*'*64)
print(df2)
#由于是标准正态分布，几乎所有的值都在[-3std,3std)之间

前 5 行数据:
          X         Y
0  0.070472  1.001022
1 -0.370713  0.826172
2 -0.177583 -0.574503
3  0.609245 -1.054319
4  0.059228  1.031227
****************************************************************
后 6 行数据:
           X         Y
94 -2.029947  0.027624
95 -0.758813 -1.228429
96 -0.583404  0.101517
97 -0.416502 -0.315527
98  0.753474  1.223027
99 -2.011647  0.150550
****************************************************************
           X         Y         r
0   3.070472  1.001022  3.229527
1   2.629287  0.826172  2.756031
2   2.822417 -0.574503  2.880294
3   3.609245 -1.054319  3.760085
4   3.059228  1.031227  3.228359
..       ...       ...       ...
94  2.241187 -1.228429  2.555770
95  2.416596  0.101517  2.418727
96  2.583498 -0.315527  2.602694
97  3.753474  1.223027  3.947703
98  0.988353  0.150550  0.999753

[99 rows x 3 columns]

In [8]:
a = np.linspace(1,16)#,dtype = int)
a

array([ 1.        ,  1.30612245,  1.6122449 ,  1.91836735,  2.2244898 ,
        2.53061224,  2.83673469,  3.14285714,  3.44897959,  3.75510204,
        4.06122449,  4.36734694,  4.67346939,  4.97959184,  5.28571429,
        5.59183673,  5.89795918,  6.20408163,  6.51020408,  6.81632653,
        7.12244898,  7.42857143,  7.73469388,  8.04081633,  8.34693878,
        8.65306122,  8.95918367,  9.26530612,  9.57142857,  9.87755102,
       10.18367347, 10.48979592, 10.79591837, 11.10204082, 11.40816327,
       11.71428571, 12.02040816, 12.32653061, 12.63265306, 12.93877551,
       13.24489796, 13.55102041, 13.85714286, 14.16326531, 14.46938776,
       14.7755102 , 15.08163265, 15.3877551 , 15.69387755, 16.        ])

### 结束