# 第2周 作业

### 要求

- 用 ipython notebook 文件格式完成并提交
- 文件名取为 ddddddd_wk.ipynb
    - ddddddd 为 7 位学号
    - wk 为讲课周次（2 位数）
    - 例如学号为1234567，第2周作业，提交文件名取为： <font color="red">1234567_02.ipynb</font>

### 练习 1

- 创建 Series 序列对象，创建要求是

    - 名称和名称属性均取为 "normal_16"
    - 值为 16 个服从均值为 5，标准差为 1 的正态分布数
    - 索引为从 1 到 16 的整数序列


- 任务
    - 1. 使用下标切片，显示下标为奇数的所有元素，修改元素值为原值的 2 倍，并显示修改后的元素值
    - 2. 采用布尔掩码，将下标为 2、4、12 的元素修改为原值的 4 倍，并显示修改后的元素值

In [ ]:
# 练习 1 代码

### 练习 2

- 创建三国游戏中 英雄角色 生命值 序列 对象

    - 名称和名称属性均取为 "three_kingdom_heroes"
    - 游戏人物取三国武将 [关羽、典韦、马超、许诸、张飞、张辽、黄忠、程普、赵云、黄盖、徐晃、韩当] 作为索引
    - 生命值取为 50 到 100 之间的随机整数
    

- 任务
    - 1. 假设每一回合，各武将的 生命值 损失一个介于 10 到 30 之间的随机值
    - 2. 三回合循环
        - 三回合后，输出刘备部下五虎将的剩余生命值
        - 假设若干回合后，出现某武将生命值小于或等于零，输出此时曹操部下生命值最大的武将，并跳出循环终止

In [ ]:
# 练习 2 代码

### 练习 3

- 假设：已建好三国西蜀五虎大将数据帧如下
- 任务
    - 1 修改每人的智慧加 5
    - 2 增加一列“射术”，数组依次取为[80, 75, 90, 99, 85]
    - 3 删除“武力”列
    - 4 显示最后的数据帧

In [2]:
import numpy as np
import pandas as pd

five_tigers = ["关羽","张飞","马超","黄忠","赵云"]
features    = ["忠诚","智慧","武力","生命"]

# five_tigers_df = pd.DataFrame(np.random.randint(90,100,(8,5)), index=names, columns=features)

five_tigers_df = pd.DataFrame({"忠诚":[97,96,60,90,95],
                               "智慧":[85,75,80,92,90],
                               "武力":[95,94,96,90,93],
                               "生命":[90,92,93,80,99]},
                               index=five_tigers)
five_tigers_df

    忠诚  智慧  武力  生命
关羽  97  85  95  90
张飞  96  75  94  92
马超  60  80  96  93
黄忠  90  92  90  80
赵云  95  90  93  99

In [4]:
# 练习 3 代码
np.random.randint(90,100,10)

array([94, 90, 93, 91, 97, 96, 97, 94, 96, 99])

### 练习 4


- 随机生成一个100行2列的服从标准正态分布数组，分别取列名称为 "X"、"Y"，创建一数据帧

- 任务
    - 1 查看前 5 行和后 6 行数据
    - 2 向右平移 "X" 坐标 3 个单位
    - 3 新增一列到原点距离 "r"
    - 4 查看 "Y" 值在 3 倍标准差以内的全部点
    - 5 显示最后的数据帧

In [ ]:
# 练习 4 代码

### 结束